In [30]:
#import pandas library
import pandas as pd

In [31]:
#import sqllite
import sqlite3

In [16]:
#Create SQL table
create_SQL_table = """
CREATE TABLE student_test_score
(Id INTEGER, Name VARCHAR(20), Math REAL,
Science REAL
);"""

In [17]:
#execute the SQL statement
executeSQL = sqlite3.connect(':memory:')
executeSQL.execute(create_SQL_table)
executeSQL.commit()

In [18]:
#prepare a SQL query
SQL_query = executeSQL.execute('select * from student_test_score')

In [19]:
#fetch result from the SQLlite database
resultSet = SQL_query.fetchall()

In [20]:
#view result
resultSet

[]

In [21]:
#prepare records to be inserted into SQL table through SQL statement
insertData_SQL = [(10,'Jack',85,92),
                        (29,'Tom',73,89),
                         (65,'Ram',65.5,77),
                         (5,'Steve',55,91)
                        ]

In [22]:
#insert records into SQL table through SQL statement
insert_statement = "Insert into student_test_score values(?,?,?,?)"
executeSQL.executemany(insert_statement,insertData_SQL)
executeSQL.commit()

In [23]:
#prepare SQL query
SQL_query = executeSQL.execute('select * from student_test_score')

In [24]:
#fetch the resultset for the query
resultSet = SQL_query.fetchall()

In [25]:
#view the resultset
resultSet

[(10, 'Jack', 85.0, 92.0),
 (29, 'Tom', 73.0, 89.0),
 (65, 'Ram', 65.5, 77.0),
 (5, 'Steve', 55.0, 91.0)]

In [28]:
#put the reconrds together in dataframe
df_student_records = pd.DataFrame(resultSet,columns=list(zip(*SQL_query.description))[0])

In [29]:
#view the records in pandas dataframe
df_student_records

   Id   Name  Math  Science
0  10   Jack  85.0     92.0
1  29    Tom  73.0     89.0
2  65    Ram  65.5     77.0
3   5  Steve  55.0     91.0